<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122263950780-btlcv37pe4un6lmjg56bjfnfkbkhs772.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122263950780-btlcv37pe4un6lmjg56bjfnfkbkhs772</string>
	<key>API_KEY</key>
	<string>AIzaSyCq_oaYo5c4RJ8zeG8wxxId0a1X0UvV0kU</string>
	<key>GCM_SENDER_ID</key>
	<string>122263950780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.esaa</string>
	<key>PROJECT_ID</key>
	<string>esaa-c4278</string>
	<key>STORAGE_BUCKET</key>
	<string>esaa-c4278.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122263950780:ios:e3654106fe66e7511c87b9</string>
</dict>
</plist>